/*=================General=======================*/
*{
margin: 0;
padding: 0; 
box-sizing: border-box;
}
button{
    cursor: pointer;
}
.boton-fondo-rosado{
    width: 40%;
    min-width: 100px;
    padding: 10px 10px;
    background-color: #db8281;
    color: white;
    border: none;
    border-radius: 30px;
}
.icono{
    width: 50px;
    height: 50px; 
    padding: 10px;
    margin: 10px;
}

 .div-padre-horizontal-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;}

/*=====================decoracionTexto=====================================*/
.texto-normal-negro{
    color:black;
}
.texto-cursivo-rosa{
    color: #E8A7A6;
}
.texto-centrado{
    text-align: center;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 50px;
}
h3{
    
    font-size: 35px;
    margin-top:50px !important; 
}
h4{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h5{
    font-size: 15px;
    color: rgb(59, 59, 59);
    margin: 0px;
    padding: 0;
}


/*=====================HEADER=============================*/
header{
    font-weight: bolder;
    background-color: #E8A7A6;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color:white;
}


/*=======================NAV=====================================*/


#logo-nav{
    width: 10%;
    min-width: 100px;
}

.navbar-nav{
margin: 0 50px;
width: 80%;}


/*===============ANIMACIONES NAV===============================*/


/*==============================HERO======================*/

.hero{
    background: url(imagenes-general/reno\ banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 600px;
    min-height: 100px;
    
}
.overlay{
    background: linear-gradient(to right, #ffffff,  transparent);
    width: 100%;
    height: 100%;
    
    align-content: center;
}
.texto-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: 100px;
   
}

.texto-hero p{
    
    font-size: 20px;
}


/*==========================MAIN===============================*/
main{
    margin: 5%;
   
}
/*==================BENEFICIOS=================*/



.item-beneficios-pagina{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 200px;

}

.icono-beneficios-pagina{
   
    border: 3px rgb(122, 122, 122) solid;
    border-radius: 30%; 
}
/*==================CATEGORIAS=================*/
.categorias-contenedor{
    margin-top: 50px;
}
.categoria-item{
    width: 250px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border: rgb(201, 201, 201) solid 1px;
    border-radius: 2px;
    box-shadow: 5px 10px 10px 0px rgba(83, 83, 83, 0.226);
}
.categoria-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
    
}
.categoria-item button{
    color:#e08583;
    background-color: transparent;
    border: 1px #bb8c8b solid;
    border-radius: 15px;
    padding: 5px 20px;
}
/*=======================NUEVO CX=======================================*/
.cx-nuevo{
    margin: 50px 0;
    padding: 50px 2%;
    background-color: #ffcac9;
    min-width: 250px;
    border-color: none;
    border-radius: 10px;
}
.texto-bienvenida{
    width: 20%;
    min-width: 100px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:block;
    border-left: none !important;
    
}


.cx-nuevo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 220px;
    border-left: rgb(255, 173, 180) 3px solid;
    padding: 0 20px;
    
}

.cx-nuevo p{
    font-size: 20px;
}

/*=========================Mas vendido================================*/
.ver-productos{
    font-size: 14px;
    text-decoration: none;
    color: #db8281;
    margin: 0px 40px;
    padding: 0;
    display: flex;
    justify-self: flex-end;
    font-weight: bolder;
    
}
.Productos-contenedor{
    margin-top: 50px;
}
.Productos-item{
    width: 250px;
    height: 350px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items:space-between;
    justify-content: space-between;
    gap: 15px;
    border: rgb(201, 201, 201) solid 1px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0px rgba(83, 83, 83, 0.226);
}
.Productos-item img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
    
}
.precio-item{
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Productos-item button{
    color:#ffffff;
    background-color: #d98b8b;
    border: none;
    border-radius: 15px;
    padding: 5px 20px; 
}

/*==========================CARRITO TEMPORAL=========================*/
.carrito-temporal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

    #carrito-vacio{
        display: flex;
        flex-direction: column;
        align-items: center;
       
         flex-grow: 1;
    }
     .img-carrito-vacio
    {
        display: flex;
        max-width: 80%;
    }

    .resumen-carrito-temporal{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        max-width: 600px;
        max-height: 450px;
        margin: 0 2%;
        padding: 0px 50px 50px 50px;
        border:solid 1px gray;
        border-radius: 10px;
    }
    .resumen-carrito-temporal ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 15px;
    }
    .resumen-carrito-temporal li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    }
    .boton-comprar{
        width: 100%;
        border-radius: 10px;
        font-size: 15px;
        margin: 50px 0;
    }
        /*==========================PRODUCTO EN CARRITO=========================*/
        
        #productos-carrito{
           
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-grow: 1;  
        max-width: 600px;
        }
        .item-en-carrito{
            min-width: 300px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-top: rgb(161, 161, 161) solid 1px;
            border-radius: 10px;
            gap:20px;
        }
            .item-en-carrito>img {
            height: 100px; 
            width: 100px;
            object-fit: cover;
            border-radius: 20px;
            }
            .div-texto-items-carrito{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:20px;
            flex-direction: row;
            flex-wrap: wrap;
            }
                .items-carrito-texto-izq{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px
                }
                .nombre-item-carrito{
                    min-width: 200px;
                }
                
                .div-cantidad-item-carrito{
                    display: flex;
                    align-items: center;
                    gap: 20px
                }
                .div-cantidad-item-carrito>button{
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                border: rgb(155, 155, 155) solid 1px;
                }
                .div-cantidad-item-carrito>.btn-eliminar-item{
                height: 28px;
                width: 28px;
                background-color: rgb(218, 28, 28);
                margin-left: 30px;    
                border: none;
                }
                .img-eliminar-item{
                    height: 65%;
                    filter:invert(0.95);
                    }

                    .precio-item-carrito{
                        min-width: 50px;
                    }
    /*===========================FOOTER=============================*/

    footer{
        width: 100%;
        background-color: #ffe9e9;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .footer-arriba{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-arriba div{
        margin: 30px 0;
        padding: 0px 30px;
        width: 20%;
        min-width: 200px;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        flex-direction: column;
        border-right: 2px solid rgb(255, 201, 201);
        
    

        
    }
            .iconos-footer{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                gap: 20px;;
            }

            .iconos-footer img{
                width: 30px;
            }

            .footer-arriba div ul{
            padding: 0;
            }

            .footer-arriba div ul li{
            list-style: none;
            margin: 10px 0;
            }

            .footer-arriba div ul li a{
            list-style: none;
            text-decoration: none;
            color: rgb(80, 79, 79);
            }


    .footer-abajo{
        background-color: #fdcbcb;
        padding: 10px;
        margin: 0px;
    }







